<!-- Navbar -->
<nav class="navbar fixed-top navbar-default navbar-expand-lg navbar-dark bg-transparent ">
  <a class="navbar-brand  " href="#" style = " font-family: 'Lobster', cursive;"> <i class="fas fa-bug"></i>
    Purple Octopus
  </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item text-center">
          <a class="nav-link" href="#" style = " font-family: 'Lobster', cursive;" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style = " font-family: 'Lobster', cursive;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style = " font-family: 'Lobster', cursive;">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style = " font-family: 'Lobster', cursive;">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style = " font-family: 'Lobster', cursive;">Inspiration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style = " font-family: 'Lobster', cursive;">Contact</a>
        </li>
      </ul>
    </div>
</nav>
<!-- End Navbar -->
